ProdutosEstoqueClient/Connected Services/ProdutosEstoqueService/ProdutosEstoqueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProdutosEstoqueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49920/ProdutosEstoqueService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49920/ProdutosEstoqueService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49920/ProdutosEstoqueService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49920/ProdutosEstoqueService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProdutosEstoque" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdutosEstoqueService_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_RemoverProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_RemoverProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_AdicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_AdicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_VerProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutosEstoqueService_VerProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdutosEstoqueService">
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/ListarProdutos" message="tns:IProdutosEstoqueService_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/ListarProdutosResponse" message="tns:IProdutosEstoqueService_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/IncluirProduto" message="tns:IProdutosEstoqueService_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/IncluirProdutoResponse" message="tns:IProdutosEstoqueService_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/RemoverProduto" message="tns:IProdutosEstoqueService_RemoverProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/RemoverProdutoResponse" message="tns:IProdutosEstoqueService_RemoverProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/ConsultarEstoque" message="tns:IProdutosEstoqueService_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/ConsultarEstoqueResponse" message="tns:IProdutosEstoqueService_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/AdicionarEstoque" message="tns:IProdutosEstoqueService_AdicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/AdicionarEstoqueResponse" message="tns:IProdutosEstoqueService_AdicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/RemoverEstoque" message="tns:IProdutosEstoqueService_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/RemoverEstoqueResponse" message="tns:IProdutosEstoqueService_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutosEstoqueService/VerProduto" message="tns:IProdutosEstoqueService_VerProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutosEstoqueService/VerProdutoResponse" message="tns:IProdutosEstoqueService_VerProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdutosEstoqueService" type="tns:IProdutosEstoqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProdutos">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/ListarProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/IncluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/RemoverProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/ConsultarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/AdicionarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/RemoverEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutosEstoqueService/VerProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdutosEstoqueService">
    <wsdl:port name="BasicHttpBinding_IProdutosEstoqueService" binding="tns:BasicHttpBinding_IProdutosEstoqueService">
      <soap:address location="http://localhost:49920/ProdutosEstoqueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>